<md-tooltip md-delay="400" md-direction="left">
    <span translate translate-values="{ type: '{{ $ctrl.barType }}' }">
        PROGRESS_BAR.TOOLTIPS.BAR_INFO</span>
</md-tooltip>
<md-icon ng-show="$ctrl.iconToDisplay" class="material-icons">{{ ::$ctrl.iconToDisplay }}</md-icon>
<div class="all-rounded progress-bar">
    <div class="all-rounded progress-bar-percentage"
        ng-style="{'width': $ctrl.getPercentage(), 'background-color': $ctrl.color}">
        <span>{{ $ctrl.progress }}/100%</span>
    </div>
</div>