city-search {
    .formComponentsHeight {
        height: 40px;
    }

    md-input-container .md-input.tealInput {
        border-radius: 2px;
        box-shadow: 16px 16px 20px -13px #b1d9f4 inset;
        background-color: #e5f2fb;
    }
}