<form class="fill-content flex-type" ng-submit="$ctrl.search($ctrl.city, $ctrl.latestSearches)" novalidate>
    <md-input-container class="md-icon-float md-block md-title form-components-height remove-all-spacing">
        <input class="tealInput form-components-height" required md-no-asterisk ng-model="$ctrl.city" type="text"
            placeholder="" autocomplete="off"></input>
    </md-input-container>
    <md-button type="submit" class="md-raised md-primary form-components-height remove-all-spacing">
        <md-icon class="material-icons">search</md-icon>
    </md-button>
</form>