@import '../shared/styles/mixins/background';

error-page {
    .error-background {
        @include setBackground("../../../img/errorBackground.svg");
    }

    md-icon.material-icons {
        font-size: 80px;
        height: 80px;
        width: 80px;
    }
}