<md-icon class="material-icons recent" ng-show="$ctrl.useHeader">{{ $ctrl.displayIcon }}</md-icon>
<ul class="flex-row justify-space-around flex-wrap remove-all-spacing">
    <li class="flex-row justify-center align-center flex-number"
        ng-repeat="city in $ctrl.listToDisplay track by $index">
        <a class="link-effect spacing-4" href ng-click="$ctrl.search(city, $ctrl.latestSearches)">
            <md-icon class="material-icons recent" ng-hide="$ctrl.useHeader">{{ $ctrl.displayIcon }}</md-icon>
            <span class="capitalize">{{ city }}</span>
        </a>
    </li>
    <li class="flex-row justify-center align-center"
        ng-show="!$ctrl.listToDisplay || $ctrl.listToDisplay.length === 0">
        <md-icon class="material-icons recent">more_horiz</md-icon>
    </li>
</ul>