displayable-list {
    text-align: center;

    .recent {
        color: #000000;
    }

    .clear:hover {
        background-color: rgba(112, 112, 112, 0.9);
        border-radius: 20px;
    }

    ul {
        list-style-type: none;
        word-wrap: break-word;
    }

    .link-effect {
        text-decoration: none;
        cursor: pointer;
        color: #000000;
        border-radius: 8px;
        background-color: rgba(229, 229, 229, 0.6);
    }

    .link-effect:hover {
        background-color: rgba(229, 229, 229, 0.9);
    }

    .capitalize {
        text-transform: capitalize;
    }

    .spacing-4 {
        margin: 4px;
        padding: 4px;
    }
}