body,
html {
    min-height: 100%;
    min-width: 100%;
}

div.md-dialog-container {
    >md-dialog {
        flex: 1 1 60%;
        background-color: lightblue;
    }
}

md-toast.md-success-toast-theme {
    .md-toast-content {
        background-color: green;
    }
}

md-toast.md-error-toast-theme {
    .md-toast-content {
        background-color: red;
    }
}