.removeAllSpacing {
    margin: 0;
    padding: 0;
}

.removeYSpacing {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.removeXSpacing {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
}

.paddingY20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.spacing4 {
    margin: 4px;
    padding: 4px;
}