div.md-dialog-container {
    >md-dialog {
        flex: 1 1 60%;
        background-color: lightblue;
    }
}

contact-form {
    form {
        padding: 5px 20px 5px 20px;
        background-color: lightblue;
    }

    md-input-container {
        margin-bottom: 0;
    }
}