<md-tooltip md-delay="400" md-direction="right">
    <span translate>WEBLOGO.TOOLTIPS.INFO</span>
</md-tooltip>
<div class="logo-div fill-content" ng-click="$ctrl.goHome()">
    <md-icon ng-style="{'font-size': $ctrl.iconSize, 'height': $ctrl.iconSize, 'width': $ctrl.iconSize}"
        class="material-icons sun">wb_sunny</md-icon>
    <md-icon ng-style="{'font-size': $ctrl.iconSize, 'height': $ctrl.iconSize, 'width': $ctrl.iconSize}"
        class="material-icons cloud">wb_cloudy</md-icon>
    <md-icon ng-style="{'font-size': $ctrl.iconSize, 'height': $ctrl.iconSize, 'width': $ctrl.iconSize}"
        class="material-icons ice">ac_unit</md-icon>
    <md-icon ng-style="{'font-size': $ctrl.iconSize, 'height': $ctrl.iconSize, 'width': $ctrl.iconSize}"
        class="material-icons moon">brightness_2</md-icon>
    <md-icon ng-style="{'font-size': $ctrl.iconSize, 'height': $ctrl.iconSize, 'width': $ctrl.iconSize}"
        class="material-icons thunder">flash_on</md-icon>
</div>