<div class="logoDiv fillContent" ng-click="$ctrl.routingFunctions.goHome()">
    <md-icon ng-style="{'font-size': $ctrl.iconSize, 'height': $ctrl.iconSize, 'width': $ctrl.iconSize}"
        class="material-icons sun">wb_sunny</md-icon>
    <md-icon ng-style="{'font-size': $ctrl.iconSize, 'height': $ctrl.iconSize, 'width': $ctrl.iconSize}"
        class="material-icons cloud">wb_cloudy</md-icon>
    <md-icon ng-style="{'font-size': $ctrl.iconSize, 'height': $ctrl.iconSize, 'width': $ctrl.iconSize}"
        class="material-icons ice">ac_unit</md-icon>
    <md-icon ng-style="{'font-size': $ctrl.iconSize, 'height': $ctrl.iconSize, 'width': $ctrl.iconSize}"
        class="material-icons moon">brightness_2</md-icon>
    <md-icon ng-style="{'font-size': $ctrl.iconSize, 'height': $ctrl.iconSize, 'width': $ctrl.iconSize}"
        class="material-icons thunder">flash_on</md-icon>
</div>