home-page {
    .contentBackground {
        height: 100%;
        background-image: url("../../../img/contentBackground.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    city-search {
        .flexType {
            display: flex;
            flex-direction: row;

            >* {
                flex: 0 1 50%;
                margin-right: 4px;
                margin-left: 4px;
            }
        }
    }

    displayable-list {
        .flexNumber {
            flex: 0 1 33%;
        }
    }

    .width75 {
        width: 75%;
    }
}