<div class="home-page" layout="column" layout-align="center">
    <div layout="row" layout-align="center">
        <form novalidate ng-submit="$ctrl.search()" layout="row" layout-align="center center" flex="65">
            <md-input-container flex class="md-icon-float md-block md-title">
                <md-icon class="material-icons">place</md-icon>
                <input class="tealInput" required md-no-asterisk ng-model="$ctrl.city" type="text" placeholder=""
                    autocomplete="off">
            </md-input-container>
            <md-button flex="20" type="submit" class="md-raised md-primary buttonAlign">
                <md-icon class="material-icons">search</md-icon>
            </md-button>
        </form>
    </div>
    <div layout="row" layout-align="center center" layout-wrap layout-padding>
        <ul flex="65" layout="row" layout-align="space-around center" layout-wrap layout-padding>
            <li flex="33" ng-repeat="search in $ctrl.latestSearches track by $index">
                <a href ng-submit="$ctrl.clickCity()">
                    <md-icon class="material-icons">update</md-icon>{{ search }}
                </a>
            </li>
        </ul>
    </div>
</div>