body,
html {
    height: 100%;
}

.home-page {
    height: 100%;
    background-image: url("./img/background.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#sun {
    color: #FDB813;
}

#cloud {
    color: #747474;
}

#ice {
    color: #A5F2F3;
}

#moon {
    color: #31302E;
}

#thunder {
    color: #FDD436;
}

#recent {
    color: #000000;
}

.iconsWrapper {
    padding-right: 50px;
    padding-bottom: 100px;
}

.icon {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 100px;
}

md-input-container .md-input.tealInput {
    border-radius: 2px;
    box-shadow: 16px 16px 20px -13px #b1d9f4 inset;
    background-color: #e5f2fb;
}

.buttonAlign {
    margin-bottom: 32px;
}

ul {
    margin-left: 200px;
    list-style-type: none;
}

.linkEffect {
    text-decoration: none;
    color: black;
}

.linkEffect:hover {
    text-decoration: underline;
}