<md-icon class="material-icons recent" ng-show="$ctrl.useHeader">update</md-icon>
<ul class="flexRow justifySpaceAround flexWrap removeAllSpacing">
    <li class="flexRow justifyCenter alignCenter flexNumber" ng-repeat="city in $ctrl.latestSearches track by $index">
        <a class="linkEffect spacing4" href ng-click="$ctrl.routingFunctions.search(city, $ctrl.latestSearches)">
            <md-icon class="material-icons recent" ng-hide="$ctrl.useHeader">update</md-icon>
            <span class="capitalize">{{ city }}</span>
        </a>
    </li>
    <li class="flexRow justifyCenter alignCenter" ng-show="!$ctrl.latestSearches.length"><a class="linkEffect spacing4">No last searches!</a></li>
</ul>