<div class="flex-row fill-content">
    <div class="flex-25 flex-column justify-space-between align-center menu-background">
        <div class="flex-row full-width justify-center">
            <div class="flex-column align-center">
                <web-logo class="flex-row justify-center padding-top-20" icon-size="34px"></web-logo>
                <div class="flex-row padding-y-20">
                    <city-search class="flex-column"></city-search>
                </div>
            </div>
        </div>
        <div class="flex-row full-width justify-center">
            <div class="flex-column align-center full-width">
                <displayable-list class="flex-column justify-center align-center full-width" use-header="true"
                    display-icon="restore" list-to-display="$ctrl.latestSearches" list-type="Recent"></displayable-list>
            </div>
        </div>
        <div class="flex-row full-width justify-center">
            <div class="flex-column align-center full-width">
                <displayable-list class="flex-column justify-center align-center full-width" use-header="true"
                    display-icon="near_me" list-to-display="$ctrl.nearbyCities" list-type="Nearby"></displayable-list>
            </div>
        </div>
        <div class="flex-row full-width justify-center">
            <div class="flex-column align-center full-width btn-padding">
                <md-button ng-click="$ctrl.openFormDialog($event)" class="md-raised md-primary full-width">
                    <md-tooltip md-delay="400">
                        Open contact form
                    </md-tooltip>
                    Need help?
                </md-button>
            </div>
        </div>
    </div>
    <ui-view class="flex-75"></ui-view>
</div>