<div class="flexRow fillContent">
    <div class="flex25 flexColumn alignCenter menuBackground">
        <web-logo class="flexRow justifyCenter" icon-size="40px"></web-logo>
        <div class="flexRow">
            <city-search class="flexColumn"></city-search>
        </div>
        <div class="flexRow">
            <recent-list class="flexColumn justifyCenter alignCenter" use-header="true"></recent-list>
        </div>
    </div>

    <div class="flex75 contentBackground">
        {{$ctrl.latestSearches[0]}}
    </div>
</div>