<div layout="row" layout-fill>
    <div flex="20" layout="column" class="sideBar">
        <div flex="10" layout="row" layout-align="center center">
            <a ui-sref="home">TuTiempo</a>
        </div>
        <div flex="10">
            <form ng-submit="$ctrl.search()" layout="columns" layout-align="center center" novalidate>
                <md-input-container flex="100">
                    <md-icon class="material-icons">place</md-icon>
                    <input required md-no-asterisk ng-model="$ctrl.city" type="text"
                        placeholder="Tell me a city to start forecasting!" autocomplete="off">
                </md-input-container>
                <md-button type="submit" flex="100" class="md-raised md-primary">
                    <md-icon class="material-icons">search</md-icon>
                </md-button>
            </form>
        </div>
        <div flex layout-align="center start">
            <ul>
                <li ng-repeat="search in $ctrl.latestSearches track by $index">{{ search }}</li>
            </ul>
        </div>
    </div>
    <div flex class="contentBox">

    </div>
</div>